# TODO: Add env vars VITE_SERVER_URL for frontend and add FRONTEND_URL to backend
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"

  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: punahou_place
    volumes:
      - timescaledb_data:/var/lib/postgresql/data

volumes:
  timescaledb_data:
